body {
    height: 600px;
    width: 375px;
}

/* #main {
    text-align: center;
} */

/* ul#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
    width: 50%;
}

ul#action { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
} */

ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
}

li { 
    margin: 5px; 
    padding: .375rem; 
}

li.ui-draggable {
    width: calc(100% - 10px) !important;
}

#actionCreator, #actionType {
    display: inline-block;
}

#actionCreator {
    width: 50%;
}

#actionType {
    width: 40%;
    margin-left: 5px;
}

#actionCards {
    width: 60%;
}

#actionEditor {
    margin: 0px;
}

#actionListArea{
    width: 100%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.tableRow {
    display: table;
}

.tableCol {
    display: table-cell;
}

.operateArea {
    margin: 5px;
}

#editArea {
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}