body {
    height: 600px;
    width: 375px;
}

/* #main {
    text-align: center;
} */

/* ul#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
    width: 50%;
}

ul#action { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
} */

ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px; 
}

li { 
    margin: 5px; 
    padding: 5px; 
}

li.ui-draggable {
    width: calc(100% - 10px) !important;
}

#actionCreator, #actionType {
    display: inline-block;
}

#actionCreator {
    width: 50%;
}

#actionType {
    width: 40%;
    margin-left: 5px;
}